a:link { color: #666 }
a:visited { color: #666; }
a:hover { color: #666; }
a:active { color: #666; }

html{
  overflow:hidden;
}
body{
  margin: 0;
  padding: 0;
  width: 99%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.navbar{
  font-family: 'Press Start 2P', cursive;
  text-decoration:none;
  color:#000000;
}

.hero{
  font-family: 'Orbitron', sans-serif;
  font-size: 0.8em;
}

.logo{
  text-align: center;
}

.copy{
  font-size: 0.8em;
  font-weight: 400;
}

.white{
  color: white;
}

.black{
  color: black;
}

#qrcode {
  width:40%;
  height:40%;
  text-align:center;
}



@media (max-width: 1024px) {
  body{
    background-size: cover;
  } 
}
